[submodule "ClassExercises/Week1/Week1_AudioReverseGame"]
	path = ClassExercises/Week1/Week1_AudioReverseGame
	url = https://github.com/ursinus-cs372-s2023/Week1_AudioReverseGame.git
[submodule "ClassExercises/Week1/Week1_Friday"]
	path = ClassExercises/Week1/Week1_Friday
	url = https://github.com/Ursinus-CS472A-S2021/Week1_Friday.git
[submodule "ClassExercises/Week2/Week2_Harmonicity/Week2_Harmonicity"]
	path = ClassExercises/Week2/Week2_Harmonicity/Week2_Harmonicity
	url = https://github.com/Ursinus-CS472A-S2021/Week2_Harmonicity.git
[submodule "ClassExercises/Week5/Week5_ApplyingDFT/Week5_ApplyingDFT"]
	path = ClassExercises/Week5/Week5_ApplyingDFT/Week5_ApplyingDFT
	url = https://github.com/Ursinus-CS472A-S2021/Week5_ApplyingDFT.git
[submodule "ClassExercises/Week8/Week8_MFCC"]
	path = ClassExercises/Week8/Week8_MFCC
	url = https://github.com/Ursinus-CS472A-S2021/Week8_MFCC.git
[submodule "ClassExercises/Week10/Week10_Chroma/Week10_Chroma"]
	path = ClassExercises/Week10/Week10_Chroma/Week10_Chroma
	url = https://github.com/Ursinus-CS472A-S2021/Week10_Chroma.git
[submodule "ClassExercises/Week11/Week11_Shazam/Week11_Shazam"]
	path = ClassExercises/Week11/Week11_Shazam/Week11_Shazam
	url = https://github.com/Ursinus-CS472A-S2021/Week11_Shazam.git
[submodule "ClassExercises/Week15/Week15_NMF/Week15_NMF"]
	path = ClassExercises/Week15/Week15_NMF/Week15_NMF
	url = https://github.com/Ursinus-CS472A-S2021/Week15_NMF.git
[submodule "Assignments/HW1_RissetBeats/HW1_RissetBeats"]
	path = Assignments/HW1_RissetBeats/HW1_RissetBeats
	url = https://github.com/ursinus-cs372-s2023/HW1_RissetBeats.git
[submodule "Assignments/HW2_DigitalInstruments/HW2_DigitalInstruments"]
	path = Assignments/HW2_DigitalInstruments/HW2_DigitalInstruments
	url = https://github.com/Ursinus-CS472A-S2021/HW2_DigitalInstruments.git
[submodule "Assignments/HW3_Vocoders/HW3_Vocoders"]
	path = Assignments/HW3_Vocoders/HW3_Vocoders
	url = https://github.com/Ursinus-CS472A-S2021/HW3_Vocoders.git
[submodule "Assignments/HW4_RhythmAnalysis/HW4_RhythmAnalysis"]
	path = Assignments/HW4_RhythmAnalysis/HW4_RhythmAnalysis
	url = https://github.com/Ursinus-CS472A-S2021/HW4_RhythmAnalysis.git
[submodule "Assignments/HW5_VersionID/HW5_VersionID"]
	path = Assignments/HW5_VersionID/HW5_VersionID
	url = https://github.com/Ursinus-CS472A-S2021/HW5_VersionID.git
[submodule "Assignments/HW6_LetItBee/HW6_LetItBee"]
	path = Assignments/HW6_LetItBee/HW6_LetItBee
	url = https://github.com/Ursinus-CS472A-S2021/HW6_LetItBee.git
[submodule "webaudio-pianoroll"]
	path = webaudio-pianoroll
	url = https://github.com/ursinus-cs372-s2023/webaudio-pianoroll.git
