[submodule "Assignments/HW1_RissetBeats/HW1_RissetBeats"]
	path = Assignments/HW1_RissetBeats/HW1_RissetBeats
	url = https://github.com/digitalmusicprocessing/HW1_RissetBeats.git
[submodule "Assignments/HW3_Vocoders/HW3_Vocoders"]
	path = Assignments/HW3_Vocoders/HW3_Vocoders
	url = https://github.com/digitalmusicprocessing/HW3_Vocoders.git
[submodule "ClassExercises/Week1/Week1_AudioReverseGame"]
	path = ClassExercises/Week1/Week1_AudioReverseGame
	url = https://github.com/digitalmusicprocessing/Week1_AudioReverseGame.git
[submodule "Assignments/HW2_DigitalInstruments/HW2_DigitalInstruments"]
	path = Assignments/HW2_DigitalInstruments/HW2_DigitalInstruments
	url = https://github.com/digitalmusicprocessing/HW2_DigitalInstruments.git
[submodule "Assignments/HW4_RhythmAnalysis/HW4_Rhythm"]
	path = Assignments/HW4_RhythmAnalysis/HW4_Rhythm
	url = https://github.com/digitalmusicprocessing/HW4_Rhythm.git
[submodule "ClassExercises/Week10/Week10_HPSS/Week10_HPSS"]
	path = ClassExercises/Week10/Week10_HPSS/Week10_HPSS
	url = https://github.com/digitalmusicprocessing/Week10_HPSS.git
[submodule "Assignments/HW5_TheConcatenator/HW5_TheConcatenator"]
	path = Assignments/HW5_TheConcatenator/HW5_TheConcatenator
	url = https://github.com/digitalmusicprocessing/HW5_TheConcatenator.git
[submodule "ClassExercises/Week11/Week11_NMF/Week11_NMF"]
	path = ClassExercises/Week11/Week11_NMF/Week11_NMF
	url = https://github.com/digitalmusicprocessing/Week11_NMF.git
[submodule "ClassExercises/Week11/Week11_Shazam/pyshazam"]
	path = ClassExercises/Week11/Week11_Shazam/pyshazam
	url = https://github.com/digitalmusicprocessing/pyshazam.git
[submodule "ClassExercises/Week11/Week11_Autotuner"]
	path = ClassExercises/Week11/Week11_Autotuner
	url = https://github.com/digitalmusicprocessing/Week11_Autotuner.git
[submodule "ClassExercises/Week12/Week12_GradientDescent"]
	path = ClassExercises/Week12/Week12_GradientDescent
	url = https://github.com/digitalmusicprocessing/Week12_GradientDescent.git
